<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
  </head>
  <body>
    <%- include('./partials/messages') %>
    <div class="wrapper">
      <form action="/forgot_password/send_email" method="post">
        <div>
          <input type="text" name="user_email" placeholder="Email"
          value="<%= typeof user_email !== 'undefined' ? user_email : '' %>">
        </div>
        <div>
          <button type="submit" class="btn">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>