<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
  </head>
  <body>
    <div class="wrapper">

      <form action="/reset_password/auth" method="post">
        <h2 class="headding">Please, type your new password: </h2>
        <%- include('./partials/messages') %>
        <div>
          <input type="text" name="user_password" placeholder="Password"
          value="<%= typeof user_password !== 'undefined' ? user_password : '' %>">
        </div>
        <div>
          <input type="text" name="confirm_password" placeholder="Confirm password">
        </div>
        <!-- sending user_id -->
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <input type="hidden" name="password_token" value="<%= password_token %>">
        <div>
          <button type="submit" class="btn">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>