<div class="text">
  <h1 class="heading">Hello, we saw you have forgot your password. That's bad :(</h1>
  <h2 class="heading">But dont'worry. So you can access your accoutn we sent this email.</h2>
  <p class="text">To recover your password, please <a href="http://localhost:3000/reset_password/{{ reset_password_token }}/{{ user_id }}">click here.</a></p>
</div>